# build directory as mandated by the pitchfork layout
/build

# visual studio cmake config
/CMakeSettings.json
# visual studio settings
/.vs/
# visual studio code settings
/.vscode/
# clion files
/.idea/
# generated output
/out/
cmake-build-debug/
